/* styling the newsfeed page*/

.item.post {
    border: 1px solid grey;
    margin-left: 300px;
    margin-right: 350px;
    margin: 50px;
    border-radius: 1em;
    text-align: justify;
  }

  .feedblk {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  
  .container {
    justify-self: center;
    justify-items: center;
    margin-left: 100px;
  }